{% extends 'base.html' %}
{% block title %}Вход — Магазин{% endblock %}

{% block content %}
<div style="max-width:400px; margin:0 auto;">
    <h1 style="margin-bottom:24px;">Внести продукт в базу</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", type="name") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
        </div>
        <div class="form-group">
        <p>
            {{ form.price.label }}<br>
            {{ form.price(class="form-control", type="price") }}<br>
            {% for error in form.price.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        </div>
        <div class="form-group">
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(class="form-control", type="quantity") }}<br>
            {% for error in form.quantity.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        </div>
        <button type="submit" class="btn btn-primary" style="width:100%; padding:10px;">{{ form.submit(type="submit", class="btn btn-primary") }}</button>
    </form>
</div>
{% endblock %}
